<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>data list</title>
</head>
<body>
    
    <p> image list </p>
    
    <p>-------------------------------------------</p>
        <tr th:each = "id : ${list}">
            <a th:href="@{/image/show/{id}(id=${id})}" class="btn btn-primary" th:text="${id}"/>
            <p>-------------------------------------------</p>    
        </tr>
    <p>-------------------------------------------</p>    
    <a href = "/">back home</a>
</body>
</html> 