<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>homepage</title>
</head>

<body>
  <p th:text="|User : ${name}|"></p>
  <div th:if = "${type == 'jwt'}">
    <a href="/user/logout/jwt" class="btn btn-primary">jwt logout</a><br>
  </div>
  <div th:if = "${type == 'session'}">
    <a href="/user/logout/session" class="btn btn-primary">session, google logout</a><br>
  </div>
  <br>
  <a href="/mongoDB" class="btn btn-primary">mongodb board</a><br>
  <a href="/mysql" class="btn btn-primary">mySQL board</a><br>
  <a href="/form" class="btn btn-primary">form get post</a><br>
  <a href="/csrf" class="btn btn-primary">csrf test page</a><br>
  <a href="/user/sign" class="btn btn-primary">sign test page</a><br>
  <a href="/user/login/jwt" class="btn btn-primary">jwt login test page</a><br>
  <a href="/user/login/session" class="btn btn-primary">session login test page</a><br>
  <a href ="/oauth2/authorization/google" class="btn btn-primary">google login</a><br>
  <a href="/socket/test1" class="btn btn-primary">web soket test page1</a><br>
  <a href="/socket/test2" class="btn btn-primary">web soket test page2</a><br>
  <a href="/user/user" class="btn btn-primary">login check</a><br>
  <a href="/user/admin" class="btn btn-primary">admin check</a><br>
  <a href="/chatting" class="btn btn-primary">chat test</a><br>
  <a href="/image/test" class="btn btn-primary">image upload test</a><br>
  <a href="/image/list" class="btn btn-primary">show image in database</a><br>
</body>

</html>