<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>homepage</title>
  <div th:if="${not #strings.isEmpty(name)}">
    <p th:text="|User : ${name}|" />
    
  </div>
</head>

<body>
  <a href="/db" class="btn btn-primary">db get post</a><br>
  <a href="/form" class="btn btn-primary">form get post</a><br>
  <a href="/csrf" class="btn btn-primary">csrf test page</a><br>
  <a href="/user/sign" class="btn btn-primary">sign test page</a><br>
  <a href="/user/login" class="btn btn-primary">jwt login test page</a><br>
  <a href="/user/login/session" class="btn btn-primary">session login test page</a><br>
  <a href="/board" class="btn btn-primary">board test page</a><br>
  <a href="/websocket/test" class="btn btn-primary">web soket test page</a><br>
  <a href="/websocket" class="btn btn-primary">chat test</a><br>
</body>

</html>