<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>homepage</title>
    <p th:text="|User : ${name}|"><br>
    <div th:if = "${type == 'jwt'}">
      <a href="/user/logout/jwt" class="btn btn-primary">jwt logout</a>
    </div>
    <div th:if = "${type == 'session'}">
      <a href="/user/logout/session" class="btn btn-primary">session logout</a>
    </div>
</head>

<body>
  <a href="/db" class="btn btn-primary">mongodb board</a><br>
  <a href="/mysql" class="btn btn-primary">mySQL board</a><br>
  <a href="/form" class="btn btn-primary">form get post</a><br>
  <a href="/csrf" class="btn btn-primary">csrf test page</a><br>
  <a href="/user/sign" class="btn btn-primary">sign test page</a><br>
  <a href="/user/login/jwt" class="btn btn-primary">jwt login test page</a><br>
  <a href="/user/login/session" class="btn btn-primary">session login test page</a><br>
  <a href="/socket/test1" class="btn btn-primary">web soket test page1</a><br>
  <a href="/socket/test2" class="btn btn-primary">web soket test page2</a><br>
  <a href="/user/data" class="btn btn-primary">login check</a><br>
  <a href="/chatting" class="btn btn-primary">chat test</a><br>
</body>

</html>